<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwException="false"
	  >
	<variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>
	<target>
		<target name="logfile" xsi:type="File" filename="${LogDirectory}/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}"/>
			
		<target name="logconsole" xsi:type="ColoredConsole"
				layout="${longdate} ${uppercase:${level}} ${message}"/>
	</target>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>